<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/choice.css" />
    <title>Conscious Way</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <img src="../png/logo_1.png" alt="bg" class="bg bg_1" />
      <img src="../png/logo_3.png" alt="bg" class="bg bg_2" />
      <img src="../png/logo_5.png" alt="bg" class="bg bg_3" />
      <img src="../png/logo_7.png" alt="bg" class="bg bg_4" />
      <img src="../png/logo_8.png" alt="bg" class="bg bg_5" />

      <div class="header">Let's set up your habits</div>
      <div class="subheader">Select the desired</div>

      <div class="choice"></div>
      <a href="./daily.html" class="link_black block">Start</a>
    </div>

    <script src="../scripts/choice.js"></script>
  </body>
</html>
