<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Conscious Way</title>
  </head>
  <body>
    <div class="wrapper hidden preload">
      <img src="../png/logo_1.png" alt="bg" class="bg bg_1" />
      <img src="../png/logo_3.png" alt="bg" class="bg bg_2" />
      <img src="../png/logo_5.png" alt="bg" class="bg bg_3" />
      <img src="../png/logo_7.png" alt="bg" class="bg bg_4" />
      <img src="../png/logo_8.png" alt="bg" class="bg bg_5" />

      <div class="header">Welcome</div>

      <div class="input_cont">
        <div class="input_text">Please enter a name</div>
        <input type="text" placeholder="Anon" class="input" />
      </div>

      <div class="avatar_cont">
        <div class="avatar_text">Choose an avatar</div>
        <div class="avatar_block">
          <img src="../png/avatar_1.png" alt="avatar" class="avatar" />
          <img src="../png/avatar_2.png" alt="avatar" class="avatar" />
          <img src="../png/avatar_3.png" alt="avatar" class="avatar" />
        </div>
      </div>

      <a class="link_black block" href="./choice.html">Next</a>
    </div>

    <script src="../scripts/main.js"></script>
  </body>
</html>
